{% macro render_item_details(location=None, date=None, start_date=None, end_date=None, url=None, main_url=False) -%}
<div class="item-details">
    {% if location %}
    <div class="item-details-title">
        {{ location }}
    </div>
    {% endif %}
    {% if date %}
    <div class="date">
        {{ format_date(date) }}
    </div>
    {% elif start_date %}
    <div class="date">
        {{ format_date(start_date) }} — {{ format_date(end_date) }}
    </div>
    {% endif %}
    {% if main_url and url %}
    <div class="url">
        [{{ format_url(url) }}]
    </div>
    {% endif %}
</div>
{%- endmacro %}
