{{#if resume.volunteer}}
<section id="volunteer" class="resume-section" aria-labelledby="volunteer-heading">
    <h2 id="volunteer-heading">{{i18n.sections.volunteer}}</h2>
    {{#each resume.volunteer}}
    <article class="item">
        <div class="item-topline">
            {{#with header}}{{> partials/item-header}}{{/with}}
            {{#with details}}{{> partials/item-details}}{{/with}}
        </div>
        {{#if summary}}
        <div class="summary">
            <p>{{summary}}</p>
        </div>
        {{/if}}
        {{#if highlights}}
        <ul class="highlights">
            {{#each highlights}}
            <li><span class="list-bullet">• </span><span class="list-text">{{this}}</span></li>
            {{/each}}
        </ul>
        {{/if}}
    </article>
    {{/each}}
</section>
{{/if}}
